<div class="card-content">
  <div class="content">
    Crie sua Categoria Personalizada. Ela ficará disponível na sua loja e servirá de filtro para seus clientes.
    <br>
  </div>
  <div class="column is-3">
    <%= link_to "Criar Categoria Personalizada", new_store_store_category_path, class: 'button is-info is-outlined is-fullwidth is-uppercase' %>
  </div>
</div><hr>
<div class="column is-10 is-offset-3">
  <div class="columns">
    <div class="column is-6">
    <%=  search_form_for @q , url: store_store_categories_path, method: :get do |f|%>
      <div class="control">
        <%= f.search_field :title_cont, class: 'input is-rounded', placeholder: 'Pesquisar por título' %>
      </div>
    </div> 
    <div class="column is-2">
      <%= button_tag class: "button is-info is-rounded" do %>
        <i class="fa fa-search"></i>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
<div class="columns is-multiline is-centered">
  <div class="column is-10 is-offset-2">
    <% @store_categories.each do |category| %>
      <div class="columns" style="padding: 0px;margin-bottom: 0px;">   
        <div class="column is-5 is-offset-2">
          <p class="f4"><%=  category.title %></p>
          <p>Ultima Atualização: <%= category.updated_at.strftime("%d/%m/%Y") %></p>
          <%= link_to "Editar", edit_store_store_category_path(category), class: 'button is-info is-small is-outlined is-uppercase' %>
        </div>
        <hr class="hr-color" style="padding: 0px; margin-top: 0px;" />
      </div>
    <% end %>
    <div class="column is-5 is-offset-2">
      <%= pagy_bulma_nav(@pagy).html_safe if @store_categories.present? %>
    </div>
  </div>
</div>
