<section class="container">
  <div class="columns is-multiline">
    <div class="column is-10 is-offset-1 register box">
      <div class="columns">
        <div class="column left is-centered is-vce ntered">
          <h1 class="title is-1">Quais as vantagens?</h1>
          <h2 class="subtitle colored is-danger is-4">Melhore a experiência dos seus clientes e receba mais pedidos.</h2><br>
          <p>Comunicação direta com seus clientes.</p>
          <p>Divulgue seu estabelecimento.</p>
          <p>Sem comissão por cada venda.</p><br>
        </div>
        <div class="column right has-text-centered">
          <h1 class="subtitle is-4">Cadastre seu Negócio</h1>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "stores/shared/error_messages", resource: resource %>
            <div class="field">
              <div class="control">
                <%= f.label :title, "Titulo da Loja" %>
                <%= f.text_field :title, :required => true, class: "input" %>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <%= f.label :name, "Nome do Representante Legal" %>
                <%= f.text_field :name, :required => true, class: "input" %>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <%= f.label :surname, "Sobrenome do Representante Legal" %>
                <%= f.text_field :surname, :required => true, class: "input" %>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <%= f.label :email %>
                <%= f.email_field :email, :required => true, autocomplete: "email", class: "input" %>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <%= f.label :password, "Senha" %>
                <%= f.password_field :password, :required => true, autocomplete: "current-password", class: "input" %>
              </div>
            </div>

            <div class="actions">
              <%= f.submit "Confirmar", class: "button is-danger is-outlined is-fullwidth is-uppercase" %>
            </div>
          <% end %>
          <br>
          <div class="has-text-centered">
            <%= render 'stores/shared/links' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  :root {
    --brandColor: hsl(166, 67%, 51%);
    --background: rgb(247, 247, 247);
    --textDark: hsla(0, 0%, 0%, 0.66);
    --textLight: hsla(0, 0%, 0%, 0.33);
  }

  .field:not(:last-child) {
    margin-bottom: 1rem;
  }

  .register {
    margin-top: 1rem;
    background: white;
    border-radius: 10px;
  }

  .left,
  .right {
    padding: 3.5rem;
  }

  .left {
    border-right: 5px solid var(--background);
  }

  .left .title {
    font-weight: 700;
    letter-spacing: -2px;
  }

  .left .colored {
    color: var(--brandColor);
    font-weight: 500;
    margin-top: 1rem !important;
    letter-spacing: -1px;
  }

  .left p {
    font-size: 1.15rem;
  }

  .right .title {
    font-weight: 800;
    letter-spacing: -1px;
  }

  .right .description {
    margin-top: 1rem;
    margin-bottom: 1rem !important;
    color: var(--textLight);
    font-size: 1.15rem;
  }

  .right small {
    color: var(--textLight);
  }

  input {
    font-size: 1rem;
  }

  input:focus {
    border-color: var(--brandColor) !important;
    box-shadow: 0 0 0 1px var(--brandColor) !important;
  }

  .fab,
  .fas {
    color: var(--textLight);
    margin-right: 1rem;
  }

</style>