<div class="columns is-multiline is-centered">
  <div class="column is-7 has-text-white-ter">
  <h2>Mudar Senha</h2><br>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "stores/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <%= f.label :password, "Nova Senha" %><br />
        <% if @minimum_password_length %>
          <em>(número minimo de caracteres<%= @minimum_password_length %>)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'input' %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Confirmar nova senha" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input' %>
      </div>
      <div class="actions">
        <%= f.submit "Mudar Senha", class: "button is-primary is-outlined is-fullwidth is-uppercase" %>
      </div>
    <% end %>
  </div>

  <div class="column is-7 has-text-centered">
    <%= render "stores/shared/links" %>
  </div>
</div>
