<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: 'Reccebi' %>
    <meta name="description" content="Encontre as melhores lojas na sua cidade e faça seus pedidos hoje mesmo.">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-widthm initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/logo.png">
    <meta name="author" content="Reccebi">
    <meta http-equiv="Content-Language" content="pt-br">
    <meta name="theme-color" content="white"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= yield (:body_class) %>">
   
    <% if admin_signed_in? %>
      <%= render partial: 'layouts/admins_navbar' %>
    <% elsif store_signed_in? %>
      <%= render partial: 'layouts/stores_navbar' %>
    <% else %>
      <%= render partial: 'layouts/clients_navbar' %>
    <% end %>

    <section class="section">
      <% if flash[:notice] %>
      <div class="notification is-success global-notification">
        <p class="notice"><%= notice %></p>
      </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="notification is-danger global-notification">
          <p class="alert"><%= alert %></p>
        </div>
      <% end %>
      <%= yield %>
    </section>
  </body>
</html>
